In [63]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_percentage_error

In [2]:
data = pd.read_csv('data_train.csv')

In [3]:
data.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,diesel,1.6,universal,False,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,gasoline,1.6,hatchback,False,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,gasoline,1.8,hatchback,False,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,gasoline,2.0,sedan,False,owned,front,True,5,7,62,3000.0

In [5]:
data = data.drop('engine_fuel', axis=1)

In [6]:
data.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,1.6,universal,False,owned,front,True,17,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,1.6,sedan,False,owned,front,False,9,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,1.6,hatchback,False,owned,front,False,5,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,1.8,hatchback,False,owned,front,False,10,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,2.0,sedan,False,owned,front,True,5,7,62,3000.0

In [7]:
data = data.drop('number_of_photos', axis=1)

In [8]:
data.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed,price_usd
0,Volkswagen,automatic,black,130000,2016,diesel,1.6,universal,False,owned,front,True,38,67,13150.0
1,Renault,manual,brown,149000,2012,gasoline,1.6,sedan,False,owned,front,False,3,100,7500.0
2,Kia,automatic,brown,110000,2014,gasoline,1.6,hatchback,False,owned,front,False,10,91,12200.0
3,Opel,automatic,other,255100,2007,gasoline,1.8,hatchback,False,owned,front,False,4,91,4950.0
4,Mazda,manual,blue,650000,1999,gasoline,2.0,sedan,False,owned,front,True,7,62,3000.0

In [11]:
data.isnull().sum()

manufacturer_name         0
transmission              0
color                     0
odometer_value            0
year_produced             0
engine_type               0
engine_capacity          15
body_type                 0
has_warranty              0
ownership                 0
type_of_drive             0
is_exchangeable           0
number_of_maintenance     0
duration_listed           0
price_usd                 0
dtype: int64

In [13]:
engine_capacity_mean = data.engine_capacity.mean()
engine_capacity_mean

2.0568942882866206

In [14]:
data.engine_capacity = data.engine_capacity.fillna(engine_capacity_mean)

In [15]:
data.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [20]:
# Encode using LabelEncoder
# Encode 'manufacturer_name'
data.manufacturer_name = LabelEncoder().fit_transform(data.manufacturer_name)


# Encode 'transmission'
data.transmission = LabelEncoder().fit_transform(data.transmission)


# Encode 'color'
data.color = LabelEncoder().fit_transform(data.color)


# Encode 'engine_type'
data.engine_type = LabelEncoder().fit_transform(data.engine_type)


# Encode 'body_type'
data.body_type = LabelEncoder().fit_transform(data.body_type)


# Encode 'has_warranty'
data.has_warranty = LabelEncoder().fit_transform(data.has_warranty)


# Encode 'ownership'
data.ownership = LabelEncoder().fit_transform(data.ownership)


# Encode 'type_of_drive'
data.type_of_drive = LabelEncoder().fit_transform(data.type_of_drive)


# Encode 'is_exchangeable'
data.is_exchangeable = LabelEncoder().fit_transform(data.is_exchangeable)

data.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed,price_usd
0,48,0,0,130000,2016,0,1.6,10,0,2,1,1,38,67,13150.0
1,39,1,2,149000,2012,2,1.6,8,0,2,1,0,3,100,7500.0
2,23,0,2,110000,2014,2,1.6,2,0,2,1,0,10,91,12200.0
3,35,0,6,255100,2007,2,1.8,2,0,2,1,0,4,91,4950.0
4,30,1,1,650000,1999,2,2.0,8,0,2,1,1,7,62,3000.0

## Model Training

In [58]:
model = Ridge()

In [27]:
variables = data.drop(['price_usd'], axis=1)
target = data.price_usd

target.head()

0    13150.0
1     7500.0
2    12200.0
3     4950.0
4     3000.0
Name: price_usd, dtype: float64

In [66]:
# Training
model.fit(variables, target)

Ridge()

In [30]:
data_test = pd.read_csv('data_test.csv')

In [31]:
data_test.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_fuel,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,BMW,automatic,white,115000,2012,gasoline,gasoline,4.4,sedan,False,owned,all,True,32,104,146,20450.0
1,Mercedes-Benz,manual,other,500000,1999,diesel,diesel,2.2,sedan,False,owned,rear,False,7,9,147,2600.0
2,Fiat,manual,silver,210000,2002,gasoline,gasoline,1.2,hatchback,False,owned,front,True,16,7,27,2900.0
3,Mitsubishi,automatic,violet,294000,2000,diesel,diesel,3.2,suv,False,owned,all,True,10,2,48,7500.0
4,Opel,automatic,blue,244000,1998,gasoline,gasoline,1.6,sedan,False,owned,front,False,9,10,116,2200.0

In [32]:
data_test = data_test.drop('engine_fuel', axis=1)

In [33]:
data_test.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_photos,number_of_maintenance,duration_listed,price_usd
0,BMW,automatic,white,115000,2012,gasoline,4.4,sedan,False,owned,all,True,32,104,146,20450.0
1,Mercedes-Benz,manual,other,500000,1999,diesel,2.2,sedan,False,owned,rear,False,7,9,147,2600.0
2,Fiat,manual,silver,210000,2002,gasoline,1.2,hatchback,False,owned,front,True,16,7,27,2900.0
3,Mitsubishi,automatic,violet,294000,2000,diesel,3.2,suv,False,owned,all,True,10,2,48,7500.0
4,Opel,automatic,blue,244000,1998,gasoline,1.6,sedan,False,owned,front,False,9,10,116,2200.0

In [34]:
data_test = data_test.drop('number_of_photos', axis=1)

In [36]:
data_test.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed,price_usd
0,BMW,automatic,white,115000,2012,gasoline,4.4,sedan,False,owned,all,True,104,146,20450.0
1,Mercedes-Benz,manual,other,500000,1999,diesel,2.2,sedan,False,owned,rear,False,9,147,2600.0
2,Fiat,manual,silver,210000,2002,gasoline,1.2,hatchback,False,owned,front,True,7,27,2900.0
3,Mitsubishi,automatic,violet,294000,2000,diesel,3.2,suv,False,owned,all,True,2,48,7500.0
4,Opel,automatic,blue,244000,1998,gasoline,1.6,sedan,False,owned,front,False,10,116,2200.0

In [37]:
data_test.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_type              0
engine_capacity          5
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [38]:
engine_capacity_mean2 = data_test.engine_capacity.mean()
engine_capacity_mean2

2.052026708649797

In [39]:
data_test.engine_capacity = data_test.engine_capacity.fillna(engine_capacity_mean2)

In [40]:
data_test.isnull().sum()

manufacturer_name        0
transmission             0
color                    0
odometer_value           0
year_produced            0
engine_type              0
engine_capacity          0
body_type                0
has_warranty             0
ownership                0
type_of_drive            0
is_exchangeable          0
number_of_maintenance    0
duration_listed          0
price_usd                0
dtype: int64

In [41]:
data_test.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed,price_usd
0,BMW,automatic,white,115000,2012,gasoline,4.4,sedan,False,owned,all,True,104,146,20450.0
1,Mercedes-Benz,manual,other,500000,1999,diesel,2.2,sedan,False,owned,rear,False,9,147,2600.0
2,Fiat,manual,silver,210000,2002,gasoline,1.2,hatchback,False,owned,front,True,7,27,2900.0
3,Mitsubishi,automatic,violet,294000,2000,diesel,3.2,suv,False,owned,all,True,2,48,7500.0
4,Opel,automatic,blue,244000,1998,gasoline,1.6,sedan,False,owned,front,False,10,116,2200.0

In [42]:
# Encode using LabelEncoder
# Encode 'manufacturer_name'
data_test.manufacturer_name = LabelEncoder().fit_transform(data_test.manufacturer_name)


# Encode 'transmission'
data_test.transmission = LabelEncoder().fit_transform(data_test.transmission)


# Encode 'color'
data_test.color = LabelEncoder().fit_transform(data_test.color)


# Encode 'engine_type'
data_test.engine_type = LabelEncoder().fit_transform(data_test.engine_type)


# Encode 'body_type'
data_test.body_type = LabelEncoder().fit_transform(data_test.body_type)


# Encode 'has_warranty'
data_test.has_warranty = LabelEncoder().fit_transform(data_test.has_warranty)


# Encode 'ownership'
data_test.ownership = LabelEncoder().fit_transform(data_test.ownership)


# Encode 'type_of_drive'
data_test.type_of_drive = LabelEncoder().fit_transform(data_test.type_of_drive)


# Encode 'is_exchangeable'
data_test.is_exchangeable = LabelEncoder().fit_transform(data_test.is_exchangeable)

data_test.head()

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed,price_usd
0,3,0,10,115000,2012,2,4.4,8,0,2,0,1,104,146,20450.0
1,31,1,6,500000,1999,0,2.2,8,0,2,2,0,9,147,2600.0
2,13,1,8,210000,2002,2,1.2,2,0,2,1,1,7,27,2900.0
3,33,0,9,294000,2000,0,3.2,9,0,2,0,1,2,48,7500.0
4,35,0,1,244000,1998,2,1.6,8,0,2,1,0,10,116,2200.0

In [44]:
# Preprocess the testing data
variable_test = data_test.drop(['price_usd'], axis=1)
target_test = data_test.price_usd

variable_test

,manufacturer_name,transmission,color,odometer_value,year_produced,engine_type,engine_capacity,body_type,has_warranty,ownership,type_of_drive,is_exchangeable,number_of_maintenance,duration_listed
0,3,0,10,115000,2012,2,4.4,8,0,2,0,1,104,146
1,31,1,6,500000,1999,0,2.2,8,0,2,2,0,9,147
2,13,1,8,210000,2002,2,1.2,2,0,2,1,1,7,27
3,33,0,9,294000,2000,0,3.2,9,0,2,0,1,2,48
4,35,0,1,244000,1998,2,1.6,8,0,2,1,0,10,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26995,48,1,9,92000,1993,2,2.0,2,0,2,1,0,11,65
26996,19,0,8,135185,2009,2,3.5,8,0,2,0,0,2,85
26997,48,1,10,450000,1993,2,1.8,8,0,2,1,0,1,35
26998,2,1,4,275000,2006,2,2.0,8,0,2,1,0,28,115
26999,48,1,7,500000,1991,0,1.9,2,0,2,1,0,2,15

# Model Evaluation

In [67]:
predicted = model.predict(variable_test)

In [68]:
mae = mean_absolute_error(target_test, predicted)
mae

2469.5720287338613

In [69]:
r2 = r2_score(target_test, predicted)
r2

0.647955304618469

In [70]:
mape = mean_absolute_percentage_error(target_test, predicted)
mape

1.522024965686188

## notes ## 
-  Depending on the requirements, different algorithms could be used, and they may produce better results by taking into consideration various factors, but in this task, I keep it as simple as possible. The Linear-regression algorithm with Ridge Regression is used because it is simple and provides an easy-to-understand mathematical formula for generating predictions.